body
{
	background: #AAB7B8;
	position:relative;
	min-height: 100vh;
	padding-bottom: 2.5rem;
}
h3
{
    text-align: center; /* "Innominatam au centre*/
}
h4
{
	color: white; /* couleur des titres de tailles h4 en blanc*/
	text-shadow: 2px 2px 4px black; /* permet de faire un effet d'ombre sous un texte*/
}
hr
{
    width: 25%

}
table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
progress{
	color: red;
}
.projectshref{
	color: white;
}
.basdepage
{
	position: fixed;
	height: 2.5rem;
	width: 100%;
	bottom: 0;
}
.Copyrightanddate
{	
	font-size: 0.8em;
}

/*margin:0px 100px 100px 0px; top,bottom,right,left*/
